.running-apps { 
  flex-grow: 1;
  display: flex; 
  justify-content: flex-start;
  margin: 0 0 0 .6rem; 
}

.widgets {
  display: flex;
}

.app-docker {
  display: inline-block;
  width: 120px;
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis
}